@use "../../../../assets/styles/variables.scss";

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-menu {
    &:hover {
        background-color: variables.$colorBlue;
    }
}