<div class="page-header">
    <div class="page-title">
        <mat-icon aria-hidden="false" aria-label="Actions Icon" fontIcon="group"></mat-icon>
        <span>New User</span>
    </div>
</div>

<mat-card appearance="outlined" class="form-container">
    <mat-card-content>
        <form [formGroup]="userForm" (ngSubmit)="onSubmitForm()">
            <h3 class="form-subtitle">
                Personal Data
            </h3>

            <div class="form-row">
                <mat-form-field appearance="outline" class="flex-grow-2">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput formControlName="name">
                </mat-form-field>
        
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Profile</mat-label>
                    <mat-select formControlName="profile">
                        @for (profile of profileList; track profile) {
                        <mat-option [value]="profile">
                            {{profile | enum:"profile"}}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            
            <h3 class="form-subtitle">
                Access Data
            </h3>
            <div class="form-row">
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                </mat-form-field>
        
                <mat-form-field appearance="outline" class="flex-grow-1">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                </mat-form-field>
            </div>
        
            <div class="form-button-row">
                <button type="submit" mat-flat-button [disabled]="!userForm.valid"
                    [ngClass]="{ 'form-btn-submit-valid': userForm.valid, 'form-btn-submit-invalid': !userForm.valid }">
                    Save
                </button>
                <a mat-flat-button routerLink="/users" class="form-btn-cancel">
                    Cancel
                </a>
            </div>
            @if (!userForm.valid) {
            <div class="form-valid-label">
                * You must fill all mandatory fields to continue
            </div>
            }
        
        </form>
    </mat-card-content>
</mat-card>