<mat-card class="table-container" appearance="outlined">
    <mat-card-content>
        <table mat-table [dataSource]="tableDataSource"
            matSort matSortActive="name" matSortDirection="asc">
        
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Name
                </th>
                    <td mat-cell *matCellDef="let user">
                        {{user.name}}
                </td>
            </ng-container>
        
            <ng-container matColumnDef="profile">
                <th mat-header-cell *matHeaderCellDef>
                    Profile
                </th>
                <td mat-cell *matCellDef="let user">
                    {{user.profile | enum:"profile"}}
                </td>
            </ng-container>
        
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    Email
                </th>
                <td mat-cell *matCellDef="let user">
                    {{user.email}}
                </td>
            </ng-container>
        
            <ng-container matColumnDef="lastAccessAt">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Access </th>
                <td mat-cell *matCellDef="let user">
                    {{user.lastAccessAt | date:"dd/MM/yyyy HH:mm"}}
                </td>
            </ng-container>
        
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let user">
                    <list-item-actions [elementId]="user.id" (onClickEdit)="handleClickEdit($event)"
                        (onClickDelete)="handleClickDelete($event)"></list-item-actions>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumnList"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumnList;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[25, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card-content>
</mat-card>