@use "./variables";

.color-white {
    color: variables.$colorWhite;

    .mdc-button__label {
        color: variables.$colorWhite;
    }
}

.bg-white {
    background-color: variables.$colorWhite !important;
}

.color-white {
    color: variables.$colorWhite !important;
}

.bg-black {
    background-color: variables.$colorBlack !important;
}

.color-black {
    color: variables.$colorBlack !important;
}

.bg-green {
    background-color: variables.$colorGreen !important;
}

.color-green {
    color: variables.$colorGreen;
}

.bg-blue {
    background-color: variables.$colorBlue !important;
}

.color-blue {
    color: variables.$colorBlue;
}