@use "./variables";

.color-white {
    color: white;

    .mdc-button__label {
        color: white;
    }
}

.bg-white {
    background-color: variables.$colorWhite !important;
}

.bg-jet {
    background-color: variables.$colorBlack !important;
}

.color-jet {
    color: variables.$colorBlack !important;
}

.bg-pigment-green {
    background-color: variables.$colorGreen !important;
}

.color-pigment-green {
    color: variables.$colorGreen;
}

.bg-robin-egg-blue {
    background-color: variables.$colorBlue !important;
}

.color-robin-egg-blue {
    color: variables.$colorBlue;
}