@use "../styles/variables.scss";

.page-container {
    margin: 2vh 2.5vw;
}

.page-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: variables.$fontSize2xl;
    font-weight: 700;
    margin: 2vh 0 !important;
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vh;

    .new-item-button {
        background-color: variables.$colorBlue;
        color: variables.$colorWhite !important;
    }
}

.table-container {
    
    table {
        // background-color: variables.$colorWhite;
        color: variables.$colorBlack;

        td.mat-column-name {
            font-weight: 600;
        }
    }
}
