@use "../styles/variables.scss";

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 12px;

    .new-item-button {
        background-color: variables.$colorBlue;
        color: variables.$colorWhite !important;
    }
}

.table-container {
    margin: 0px 14px 20px 014px;
    
    table {
        // background-color: variables.$colorWhite;
        color: variables.$colorBlack;

        td.mat-column-name {
            font-weight: 600;
        }
    }
}
