$colorBlack: #333333;
$colorBlue: #00c4cc;
$colorGreen: #3aa655;
$colorWhite: #ffffff;

$colorSuccess: #3FB55D;
$colorError: #FF857F;

$fontSizeXs: 0.75rem;
$fontSizeSm: 0.875rem;
$fontSizeLg: 1.125rem;
$fontSizeXl: 1.25rem;
$fontSize2xl: 1.5rem;